version: "3.8"

services:
  nacos:
    image: nacos/nacos-server:v2.3.2-slim
    container_name: haifa-nacos
    environment:
      - MODE=standalone
      - NACOS_AUTH_ENABLE=false
    ports:
      - "8848:8848"
      - "9848:9848"
